/*sanjit Thokar 8916967*/
html{
    font: nnormal normal normal 20px/1.5 arial,helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(144, 211, 216);
    display:flex;
    flex-direction:column;
}
h1{
    color: aqua; 
    font-size: 2.5rem;
}


aside li { list-style-type: square;
    line-height: 2em;
    display: inline;
    list-style: none;
   
}
    

aside a{
    color: rgb(57, 191, 88);
    border: solid 2px;
    border-color:indigo;
    background-color: cornsilk;
    color: indigo;
  

}

form {
    border: 5px dashed  brown;
    padding: 5px;
}

button{

 width: 50%;
 display: block;
 height: 2em;
}

[text]{
    width: 50%;
    display: block;
    height: 50em;
}

nav ul li {
    display: inline;
    list-style-type: none;
}
nav ul li a {
    color: indigo;
    border: 2px solid indigo;
    text-decoration: none;
    background-color: cornsilk;
    padding: 1em;
}
nav ul li a:hover{
    border-color: cornsilk;
    color: cornsilk;
    background-color: indigo;
}
input[type=text],input[type=email],input[submit],selection, option{
display: block;
width: 50%;
height: 2em;
}
input[type=radio],input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select,option,label,legend,input[type=submit]{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps
}
textarea{
    display: block;
    width: 50%;
}
section{
    	Display: flex;
	Flex-direction: row;
   Flex-wrap: nowrap;
	Justify-content: space;
	Align-items: stretch;

}
fieldset{
    border: none;
}

body {
    font: normal normal normal 12px/1.5;
    background-color: hsla(268, 68%, 70%, 68%);
    width: 100vw;
    height: 100vh;
}
h2 {
    color: #f02;
    font-size: 2em;
}

header{
    background-color: hsl(200, 78%, 34%);
}

main {
   flex: 2 1 70%;
    background-color: hsl(109, 84%, 47%);

}

aside {
    flex:1 1 30%;
    background-color: hsl(343, 85%, 26%);
}

aside a:hover{
    color: #f02;
}
footer{
    
    background-color: hsl(243, 73%, 62%);
}
.structural {
    padding: 10px;
    margin: 1rem;
    border: 2px solid black;
}

#para1{
    color:rgb(11, 74, 11);
}
#para2 {
    color: rgb(18, 95, 70);
}
a:hover{
    color: #f02;
}
footer p{
    font-size: -75em;
}
img{
    width: 80%;
    height: 80%;
}
 figure{
    border: 0.1em solid black;

}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
@media (max-width:600px){
    html{
        font-size:10px;
    }
    #gallery{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    section{
        display:block;
    }
}